/*#main-form\:tax-table\:identifier\:filter {*/
    /*width: 99%;*/
/*}*/

#tax-form\:tax-form-grid1 td {
    padding: 0 0 10px 5px;
}

#users-form\:users-form-grid1 td {
    padding: 0 0 10px 5px;
}

#tax-form\:input-tax_input {
    width: 70px;
    text-align: right;
}

#contracts-form\:rate_input {
    width: 70px;
    text-align: right;
}

#companies-form\:company-name {
    width: 300px;
}