<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="File"
                     fileName="/home/bcavlin/logs/invoice-server.log"
                     append="false"
                     filePattern="/home/bcavlin/logs/$${date:yyyy-MM}/invoice-server-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{ISO8601}{GMT-5}][%-5p][%t][%X{userName}][%c.%M] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%highlight{[%d][%-5p][%t][%X{userName}][%c.%M] - %m%n}{FATAL=red blink, ERROR=red, WARN=cyan, DEBUG=yellow}</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>